<!DOCTYPE html>
<html>
<head>
<!-- Bootstrap core CSS -->
<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="../css/carousel.css" rel="stylesheet">
<link href="../css/website.css" rel="stylesheet">

<script src="../js/main.js"></script>
</head>
<body>
	<form>
		<div class="text-center col-md-4 col-md-offset-4 margin_top_big">
			<div class="padding_small">
				<b>Username:</b><br> <input type="text" id="usernameID" class="inputfield_text input_medium" placeholder="username">
			</div>
			<div class="padding_small">
				<b>Password:</b><br> <input type="password" id="passwordID" class="inputfield_text input_medium" placeholder="password">
			</div>
			<div class="padding_small">
				<input type="button" onclick="login()" value="Login" class="btn btn-primary">
			</div>
		</div>
	</form>
</body>
</html>